{% extends 'base/main.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style-edit.css' %}">
{% endblock %}
{% block title %}
	<title>Edit Contact</title>
{% endblock %}
{% block content %}

	<div class="container">
		<header class="hero">
			
			<a href="{% url 'profile' contact.id %}">
			    <i class="fas fa-chevron-circle-left back-btn"></i>
			</a>

		</header>

    <form action="" method="POST">
      {% csrf_token %}
      <section class="contact-info">

        <div class="info-line">
          <i class="fas fa-phone icon-gradient"></i>
          <input type="text" class="type" name="userID" placeholder="userID" value="{{ contact.userID }}">
        </div>


      </section>

      <section class="button-container">
        <div class="update-contact">
          <i  class="fas fa-check-circle icon-gradient"></i>
          <button class="button">Save Contact</button>
        </div>
      </section>
    </form>
		<section class="button-container">
			<a href="{% url 'delete' contact.id %}">
				<div class="update-contact">
					<i class="fas fa-trash icon-gradient"></i>
					<button class="button">Delete Contact</button>
				</div>
			</a>
		</section>
	</div>

{% endblock %}