{% extends 'base/main.html' %}
{% load static %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style-edit.css' %}">
{% endblock %}
{% block title %}
  <title>Add contact</title>
{% endblock %}
{% block content %}
	<div class='container'>
		<header class="hero">

			<a href="{% url 'index' %}">
				<i class="fas fa-chevron-circle-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">New Contact</h1>
			</div>
		</header>

		<form action="" method="POST">
			{% csrf_token %}
			<section class="contact-info">

				<div class="info-line">
					<i class="fas fa-user icon-gradient"></i>
					<input type="text" class="type" name="userID" placeholder="userID">
				</div>




			</section>

			<section class="button-container">


				<div class="update-contact">
					<i id="save" class="fas fa-check-circle icon-gradient"></i>
					<button type="submit" class="button">Save Contact</button>
				</div>
			</section>


		</form>
	</div>

{% endblock %}